DATABRICKS_SPACE_ID="<Your databricks space id from Genie URL>"
DATABRICKS_HOST="<Your Databricks host, like https://adb-xxxxxxxxxxxx.xx.azuredatabricks.net>"
DATABRICKS_TOKEN="<Your Databricks PAT Token>"
MicrosoftAppId="<MicrosoftAppId if deploying to microsoft App THIS IS OPTIONAL>"
MicrosoftAppPassword="<MicrosoftAppId if deploying to microsoft App THIS IS OPTIONAL>"
